// Link on top of the slides, with link to the demo
.demo-link {
  background-image: url(./img/algolia.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 100px;
  height: 50px;
  line-height: 50px;
  font-family: "Code", Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #313131;
  font-size: 1.3rem;
  color: #FEFEFE;
  position: absolute;
  top: 0;
  right: 1rem;
  left: 1rem;
  text-align: right;
  text-decoration: none;
  z-index: 3000;
}
